.accountHome {
    font-size: 11px;
    color: #5a5a5a;
    font-family: tahoma, arial, sans-serif;
    width: 300px;
    float: left;
    border: 1px solid #f0f0f0;
    padding: 10px 30px 0px 20px;
}

/*
	Account profile
*/

.profileSectionTitle {
    font-size: 24px;
    font-weight: normal;
}

.profileThumbnailPadding {
    display: inline-block;
    padding: 5px;
}

.profileOptionSelect {
    text-align: center;
    margin: 5px 5px 0px 5px;
    color: #fff;
    background: #2183fc;
    padding: 5px 10px;
    white-space: nowrap;
}

.profileRemoveAvatar {
    background: #ff0000 !important;
}

.profileBanUser {
    background: #ffffff !important;
    color: #ff0000 !important;
}

.profileUsernameDisplay {
    color: #fff;
    padding-left: 160px;
}

.profileUserDisplay {
    background: #2183fc;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.profileStatSeparator {
    padding: 6px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.profileToggleStats {
    font-size: 10px;
    margin-top: 5px;
}

.profileStatisticsBoxTitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
}

.profileStatisticsBox {
    color: #222;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: normal;
}

.profileStatisticsBoxContainer {
    position: absolute;
    right: 0;
    display: inline-block;
    background: #fff;
    width: 250px;
    z-index: 100;
}

.profileAvatar {
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 2%;
    top: 65%;
    height: 140px;
    width: 140px;
}

.profileBackgroundSize {
    height: 230px;
}

.profileTrollFriends {
    text-align: center;
    color: #6c6c6c;
    font-size: 12px;
}

.profileRewardsTitle {
    color: #fff;
    font-weight: bold;
}

.profileAchievementContainer {
    position: absolute;
    margin-left: 170px;
    margin-top: 1px;
}

.profileAchievementItem {
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: top;
}

.accountOptionsContainer {
    padding: 0px 15px;
    border: 1px solid #f0f0f0;
    margin: 0px 15px;
}

.accountOptionsPadding {
    padding: 15px;
}

/*Media size mobile/tablets for profile*/

@media only screen and (max-width: 767px) {
    .profileBackgroundSize {
        height: 100px !important;
    }

    .profileAvatar {
        position: absolute;
        z-index: 100;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 2%;
        top: 65%;
        height: 100px;
        width: 100px;
    }
}
