/* This CSS is for the tags page, e.g. tags editing and searching */


/* Tag searching page */
/* Tag display */
.option-title {
    font-weight: bold;
    font-size: 12px;
}

/* Tag view page */
.tag-contain-push {
    padding: 25px;
}

/* Give a faint cell outlining */
.tag-table {
    width: 100%;
    border: 1px solid #f0f0f0;
    font-weight: bold;
}

.tag-table td {
    border: 1px solid #f0f0f0;
    padding: 5px;
}

/* Tag cells */
.tag-table .tag-name {
    font-size: 14px;
}

.tag-table .tag-type {
    font-size: 12px;
}

.tag-table > thead > tr > th {
    font-size: 14px;
    font-weight: bolder!important;
    background: #006FFA;
    color: #fff;
    padding: 6px!important;
    text-align: left;
}

.ordering-container {
    width: 100%;
    display: inline-block;
    padding-top: 5px;
}

.ordering {
    margin-left: 10px;
}

.ordering .option {
    margin: 5px;
    display: inline-block;
}

.ordering .option select {
    margin-left: 10px;
}

/* Tag editing page */
.tag-title-display {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 15px;

    /* Disable highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tag-edit-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #f0f0f0;

    /* Center it */
    margin-left: calc((100% - 40%) / 2);
    margin-right: calc((100% - 40%) / 2);

    width: 40%;

    padding: 15px;

    text-align: center;
}

.tag-edit-form > .submit {
    margin: 15px;
}

.saved-search {
    width: 100%;
    display: block;
    margin-bottom: 35px;
}

.saved-searches-info {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 14px;
}

.saved-searches-info > h1,
.saved-searches-info > p {
    padding: 0;
    margin: 0;
}

.saved-searches {
    margin-left: 20px;

    font-size: 14px!important;
}