/* This CSS is for the tags page, e.g. tags editing and searching */

/* Tag searching page */
/* Tag display */
.option-title {
    font-weight: bold;
    font-size: 12px;
}

/* Tag view page */
.tag-contain-push {
    padding: 25px;
}

/* Give a faint cell outlining */
.tag-table {
    width: 100%;
    border: 1px solid #f0f0f0;
    font-weight: bold;
}

.tag-table td {
    border: 1px solid #f0f0f0;
    padding: 5px;
}

/* Tag cells */
.tag-table .tag-name {
    font-size: 14px;
}

.tag-table .tag-type {
    font-size: 12px;
}

.tag-table > thead > tr > th {
    font-size: 14px;
    font-weight: bolder!important;
    background: #006FFA;
    color: #fff;
    padding: 6px!important;
    text-align: left;
}

.tag-contain-push .search-container {
    width: 100%;
    padding-bottom: 15px;
}

.tag-contain-push .search-container .search {
    width: 40%;
    display: inline-block;
}

.tag-contain-push .search-container .search-button {
    width: 10%!important;
    display: inline-block;
}

.tag-contain-push .search-container {
    display: inline-block;
    width: 50%;
    
    /* Center it using the margin */
    /* That looks centred but I am not too sure... if someone complains I will change it */
    /* It should be as it is 50% wide, so that leaves margin left and right to be 25% each */
    margin-left: 25%;
    margin-right: 25%;
}

.ordering-container {
    width: 100%;
    display: inline-block;
    padding-top: 5px;
}

.ordering {
    margin-left: 10px;
}

.ordering .option {
    margin: 5px;
    display: inline-block;
}

.ordering .option select {
    margin-left: 10px;
}

/* Tag editing page */
.tag-title-display {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 15px;

    /* Disable highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tag-edit-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #f0f0f0;

    /* Center it */
    margin-left: calc((100% - 40%) / 2);
    margin-right: calc((100% - 40%) / 2);

    width: 40%;

    padding: 15px;

    text-align: center;
}

.tag-edit-form > .submit {
    margin: 15px;
}