.login-form {
    margin-top: 20px;
}

.login-form input {
    margin-bottom: 10px;
}

.forgot-password {
    margin-top: 5px;
}

.profile_bio {
    font-style: italic;
}

.email-message {
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
}