# Django
Django==4.0.6           # Django
djangorestframework     # REST framework for Django

# Production
gunicorn                # WSGI server
django-pipeline         # CSS/JS minification

# Testing
coverage                # Code coverage

# Postgres
psycopg2-binary         # Postgresql driver

# Data processing
ffmpegio                # ffmpeg wrapper
python-magic            # Magic file type detection