# Django
Django==4.0.5
djangorestframework

# Production
gunicorn
django-pipeline         # CSS/JS minification

# Testing
coverage

# Postgres
psycopg2-binary

# Data processing
ffmpegio
python-magic