# Django
Django==4.1             # Django
djangorestframework     # REST framework for Django

# Production
gunicorn                # WSGI server
django-pipeline         # CSS/JS minification

# Testing
coverage                # Code coverage

# Postgres
psycopg2                # Postgresql driver

# Data processing
ffmpegio                # ffmpeg wrapper
python-magic            # Magic file type detection

# Distributed computing
celery                  # Distributed task queue
redis                   # Distributed cache
flower                  # Celery monitoring

# Scanner
requests                # HTTP client
watchdog                # Filesystem monitoring