/* Artist */
.tag-type-artist * {
    color: #A00!important;
}

.tag-type-artist *:hover {
    color: #9093FF!important;
}

/* Character */
.tag-type-character * {
    color: #0A0!important;
}

.tag-type-character *:hover {
    color: #9093FF!important;
}

/* Metadata */
.tag-type-metadata * {
    color: #A00!important;
}

.tag-type-metadata *:hover {
    color: #9093FF!important;
}

/* Deprecated */
.tag-type-deprecated * {
    color: #c0c0c0!important;
    text-decoration: line-through;
}

.tag-type-deprecated *:hover {
    color: #c0c0c0!important;
}

/* Copyright */
.tag-type-copyright * {
    color: #A0A!important;
}

.tag-type-copyright *:hover {
    color: #9093FF!important;
}