/* Artist */
.tag-type-artist * {
    color: #A00;
}

.tag-type-artist *:hover {
    color: #9093FF;
}

/* Character */
.tag-type-character * {
    color: #0A0;
}

.tag-type-character *:hover {
    color: #9093FF;
}

/* Metadata */
.tag-type-metadata * {
    color: #A00;
}

.tag-type-metadata *:hover {
    color: #9093FF;
}

/* Deprecated */
.tag-type-deprecated * {
    color: #c0c0c0;
    text-decoration: line-through;
}

.tag-type-deprecated *:hover {
    color: #c0c0c0;
}

/* Copyright */
.tag-type-copyright * {
    color: #A0A;
}

.tag-type-copyright *:hover {
    color: #9093FF;
}