{% extends "booru/tags/base/main.html" %}
{% load static %}

{% block page_title %}
    Edit Tag | {{ tag }}
{% endblock %}

{% block main_content %}
    <form action="?tag={{ tag|urlencode }}" method="POST" class="tag-edit-form">
        <div class="tag-title-display tag-type-{{tag.tag_type}}">
            <span>{{ tag.tag|tag_view }}</span>
        </div>

        {% csrf_token %}

        <div class="tag-type">
            New Type
            <select id="new-type" name="tag_type">
                {% for tag_type in tag_types %}
                    <option value="{{ tag_type }}"{% if tag_type == tag.tag_type %} selected="selected"{% endif %}>{{ tag_type|title }}</option>
                {% endfor %}
            </select>
        </div>

        {% comment %} <div class="tag-description">
            <textarea id="new-description" name="tag_description" placeholder="Description">{{ tag.tag_description }}</textarea>
        </div> {% endcomment %}

        <div class="submit">
            <input name="commit" class="secondary_search" type="submit" value="Save">
        </div>
    </form>

    <script>
        // When the user changes the tag type, update the tag title display's tag-type- class.
        $('#new-type').change(function() {
            let new_type = $(this).val();
            let tag_title = $('#tag-title').val();
    
            // Remove all tag-type classes.
            $('.tag-title-display').removeClass(function(index, css) {
                return (css.match(/(^|\s)tag-type-\S+/g) || []).join(' ');
            });
            
            // Add the new tag type class.
            $('.tag-title-display').addClass('tag-type-' + new_type);
        });
    </script>
{% endblock %}