{% extends "booru/posts/base/with-tags.html" %}
{% load static %}

{% block page_name %}
	{% if search_param and search_param|length > 0 %}
		Image List | {{ search_param }}
	{% else %}
		Image List | Gallary
	{% endif %}
{% endblock %}

{% block before_tags %}
	<div id="alert-container"></div>
	<div class="row">
		<div class="col-xs-12">
			<form action="" method="get">
				<div class="row">
					<div class="col-xs-12">	<a href="javascript:;" onclick="Homebooru.Search.saveTagSearch() ;return false;"><span class="ui-icon ui-icon-heart" style="color: #aaa; font-size: 25px; padding: 0px 35px 0px 0px; vertical-align: top;" title="Save this search. Check your account page."> </span></a>
						<input id="tags-search" name="tags" style="padding: 7px; width: calc(100% - 175px);" type="text" value="{{ search_param }}" placeholder="Ex: blue_sky cloud 1girl" class="ui-autocomplete-input" autocomplete="off">
						<input name="commit" class="new_secondary_search" type="submit" value="Search">
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
{% endblock %}

{% block main_tags %}
	<div id="blacklisted-sidebar" style="display: none; text-align:center;">
		<img src="{% static 'layout/exclamation-small.png' %}" alt="alert" style="margin-top: -1px;"><a href="" onclick="$(&#39;.blacklisted&#39;).toggleClass('blacklisted'); $('blacklisted-sidebar').toggle(); return false;"><b>Show Blacklisted</b></a>  <span id="blacklist-count" class="post-count"></span>
		<br>
		<br>
	</div>
	<div class="hidden-xs" id="searchTags">
		<li>
			<center><a href="/wiki#findheck">Trouble finding things?</a>
				<br>
			</center>
		</li>
	</div>
	
	<h4>Tags</h4>
	{% with "/browse?" as url %}
		{% include "booru/posts/components/tag-display.html" %}
	{% endwith %}
{% endblock %}

{% block main_content %}
	{% if posts|length == 0 %}
		<h1>Nobody here but us chickens!</h1>Check your blacklist. We now automatically omit terms from your search when you have any tag there.
	{% else %}
	<div id="thumbnails-container">
		{% for post in posts %}
			{% include "booru/posts/components/thumbnail.html" %}
		{% endfor %}
	</div>
	{% endif %}
	<br>
	<center>
		<br>
		{% include "booru/components/paginator.html" %}
		<br>
		<br>
	</center>
	<div id="toop"></div>
	<br>
	<br>
{% endblock %}