{% extends "booru/posts/base/with-tags.html" %}
{% load static %}

{% block page_name %}
	{% if post.title %}{{ post.title }}{% else %}{% for tag in post.tags.all %}{{tag.tag}} {% endfor %}{% endif %}
{% endblock %}

{% block main_tags %}
	{% include "booru/posts/components/search.html" %}
	{% with tags as sorted_tags%}{% with request.endpoint|concat:'?' as url %}{% include "booru/posts/components/sorted-tags.html" %}{% endwith %}{% endwith %}
	<div id="searchTags"></div>
	<div id="postStatistics">
		<h3>Statistics</h3>
		<li>Id: {{ post.id }}</li>
		<li>Posted: {{post.timestamp}}<br> by <a href="{% if post.owner %} /accounts/profile/{{ post.owner.id }} {% else %} # {% endif %}">{% if post.owner %}{{post.owner}}{% else %}Anonymous User{% endif %}</a></li>
		<li>Size: {{ post.width }}x{{ post.height }}</li>
		{% if post.source|length > 0 %}<li>Source: <a href="{{post.source}}" rel="nofollow">{{post.source}}</a></li>{% endif %}
		<li>Rating: {{post.rating|title}}</li>
		<li>Score: <span>{{post.score}}</span> 
			(vote <a href="javascript:;" onclick="postVote('up');">Up</a>)
		</li>
		<li style="padding-top: 10px;"></li>
	</div>
	<div id="postOption">
		<h3>Options</h3>
		<li><a href="{{post.id}}?tags={{search_param}}&resize=1" onclick="Homebooru.Posts.setImageUrl('{{post.media_url}}'); $('#resized_notice').hide(); return false;">Resize</a></li>
		<li><a href="/{{post.media_url}}" target="_blank" style="font-weight: bold;">Original</a></li>
		<div id="moderation-options" style="display: none;">
			<li><a href="#" onclick="view.delete();">Delete</a></li>
			{% if delete_flag %}
				<li><a href="#" onclick="view.unflag(); return false;">Unflag for deletion</a></li>
			{% else %}
				<li><a href="#" onclick="view.flag(); return false;">Flag for deletion</a></li>
			{% endif %}
			<li><a href="#" onclick="view.favourite(); return false;">Add to favorites</a></li>
			<li><a href="#" onclick="view.pool(); return false;">Add to Pool</a></li>
			{% if post.locked %}
				<li><a href="#" onclick="view.unlock(); return false;">Unlock</a></li>
			{% else %}
				<li><a href="#" onclick="view.lock(); return false;">Lock</a></li>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block main_content %}
	<div style="margin-left: 15px; margin-right: 15px;">
		{% if post.sample and not resize %}
			<div class="alert alert-info" id="resized_notice">
				This image has been resized. Click <a href="?id={{post.id}}&tags={{search_param}}&resize=1" onclick="Homebooru.Posts.setImageUrl('<%= originalUrl %>'); $('#resized_notice').hide(); return false;"><b>here</b></a> to view the original image.
				<a href="#" onclick="Cookie.create('resize-original',1); Cookie.create('resize-notification',1); Homebooru.Posts.setImageUrl('<%= originalUrl %>'); $('#resized_notice').hide(); return false;"><b>Always view original</b></a> | <a href="#" onclick="Cookie.create('resize-notification',1); $('#resized_notice').hide(); return false;"><b>Do not show this message</b></a>.
			</div>
		{% endif %}
		{% if next or previous %}
			<div class="alert alert-info prev-next">
				{% if next %}<a href="/post/{{next.id}}?tags={{search_param}}" class="next">Next</a>{% endif %}
				{% if previous %}<a href="/post/{{previous.id}}?tags={{search_param}}" class="prev">Previous</a>{% endif %}
			</div>
		{% endif %}

		<div id="post-view">
			<div id="right-col">
				<div>
					<div id="note-container"></div>
					<div id="image-container">
						{% if post.is_video == 1 %}
							<video src="/{{post.media_url}}" class="content" controls>
								<source id="image-video-source" type="video/mp4">

								Your browser does not support HTML5 video.
							</video>
						{% else %}
							<img id="image" class="content" src="/{% if post.sample and not resize %}{{post.sample_url}}{% else %}{{post.media_url}}{% endif %}" alt="{% for tag in post.tags.all %}{{tag.tag}} {% endfor %}" {% if post.sample %} data-original-width="{{post.width}}" data-original-height="{{post.height}}" {% endif %}>
							<div id="image-overlay" style="display:none;">
								<img media-src="/{{ post.media_url }}">
								<div class="image-close">
									<a title="Close" onclick="return hideImageOverlay();">
										<span class="ui-icon ui-icon-close option"></span>
									</a>
								</div>
								<div class="image-tools">
									<a title="Open Original" onclick="return openOriginal('/{{ post.media_url }}');">
										<span class="ui-icon ui-icon-arrow-4-diag option"></span>
									</a>
									<a title="Download" onclick="return downloadOriginal('/{{ post.media_url }}');">
										<span class="ui-icon ui-icon-arrowthick-1-s option"></span>
									</a>
								</div>
							</div>
						{% endif %}
					</div>
					<div style="margin-bottom: 1em;">
						<p id="note-count"></p>
					</div>
					<section id="notes" style="display: none;">
					</section>
				</div>
			</div>
		</div>
		<div id="comment-section">
			<span class="title"><a href="#">Comments</a></span>
			<div class="comments">
				{% for comment in comments %}
					<div class="comment">
						<div class="header">
							<span class="poster">
								{% if comment.is_anonymous %}
									<a>
										<img src="{% static 'layout/booru-logo.png' %}" class="avatar" />
										<span class="author">Anonymous</span>
									</a>
								{% else %}
									<a href="/accounts/profile/{{comment.user.id}}">
										<img src="{% static 'layout/booru-logo.png' %}" class="avatar" />
										<span class="author">{{comment.user}}</span>
									</a>
								{% endif %}
							</span>
							<span class="timestamp">{{comment.created}}</span>
						</div>
						<div class="content">
							{{comment}}
						</div>
					</div>
				{% endfor %}
				{% with comments_pagination as paginator %}
					{% include "booru/components/paginator.html" %}
				{% endwith %}
				<div class="new-comment" style="display:none;">
					<textarea name="comment" id="comment"></textarea>
						{% if user.is_authenticated %}
							<div class="anonymous">
								Post as anonymous? <input type="checkbox" name="post-anonymous">
							</div>
						{% endif %}
						<input class="submit" type="submit" name="submit" value="Post comment">
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		// Since JavaScript must be enabled, display the moderation-options div.
		$('#moderation-options').show();
		
		// Also display the comment section.
		$('.new-comment').show();
	</script>
{% endblock %}

{% block head %}
	<!-- Post Moderation -->
	<script type="text/javascript" src="{% static 'js/custom/view-post.js' %}"></script>
	<!-- Post Elements -->
	<script type="text/javascript" src="{% static 'js/custom/view-post-elements.js' %}"></script>

	<!-- View Post Stylesheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/view-post.css' %}">

	<script>
		// Setup the post view
		const view = new ViewPost('{{ csrf_token }}'{% if user.is_authenticated %}, {{ user.id }}{% endif %});
	</script>
{% endblock %}