{% with active_page="browse" %}
    {% include "booru/components/nav-bar.html" %}
{% endwith %}
<nav class="navbar navbar-default" id="submenu">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/upload">Upload</a>
            </li>
            <li><a href="/random">Random</a>
            </li>
            <li><a href="#">Saved Searches</a>
            </li>
        </ul>
    </div>
</nav>