<form action="/browse" method="get">
    <input id="tags-search" name="tags" class="search_list ui-autocomplete-input" value="{{ search_param }}" type="text" placeholder="Ex: blue_sky cloud 1girl" autocomplete="off">
    <a href="#" onclick="Homebooru.Search.saveTagSearch();return false;"><span class="ui-icon ui-icon-bookmark additional-search" title="Save this search. Check your account page."> </span></a>
    <input name="commit" class="secondary_search" type="submit" value="Search"><br><br>
</form>