{% load static %}

<title>Homebooru | Self-hosted Imageboard</title>

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" title="default">
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<link rel="stylesheet" href="{% static 'css/tag-colors.css' %}">

<link rel="stylesheet" href="{% static 'css/thirdparty/jquery-ui.css' %}" title="default">
<link rel="stylesheet" href="{% static 'css/thirdparty/jquery-ui.icon-font.min.css' %}">
<link rel="stylesheet" href="{% static 'css/thirdparty/bootstrap.css' %}">

<!-- JS -->
<script src="{% static 'js/thirdparty/jquery.min.js' %}"></script>

<script src="{% static 'js/overlay.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>

<link rel="SHORTCUT ICON" href="{% static 'favicon.png' %}">
<meta name="keywords" content="booru, AI, imageboard">
<meta name="description" content="Homebooru is a home solution for storing a large amount of images, created with the 'booru-like' style in mind.">
<meta name="rating" content="mature">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">