<nav class="navbar navbar-default nav-main">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/settings">Settings</a>
            </li>
            <li class="active strong"><a href="/posts">Posts</a>
            </li>
            <li><a href="/comments">Comments</a>
            </li>
            <li><a href="/wiki">Wiki</a>
            </li>
            <li><a href="/tags">Tags</a>
            </li>
            <li><a href="/pools">Pools</a>
            </li>
            <li><a href="/forum">Forum</a>
            </li>
        </ul>		
    </div>
</nav>