<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homebooru | {% block page_name %}{% endblock %} {% block page_title %}{% endblock %}</title>

        {% include "booru/components/head.html" %}
        {% load static %}

        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="overlay" style="display: none;">
            {% block overlay %}{% endblock %}
        </div>

        <img style="position:absolute;left:-10px;" src="{% static 'layout/homebooru-com-pix.bmp' %}">
        <div class="container-fluid">
            {% block navbar %}{% include "booru/components/nav-bar.html" %}{% endblock %}
        </div>
        <div class="alert alert-warning small" style="padding: 10px 15px 10px 15px; font-size: 11px; display: none;" id="motd"></div>

        {% block main %}{% endblock %}

        {% block footer %}
            {% include "booru/components/footer.html" %}
        {% endblock %}
    </body>
</html>
